mixin money()
    .money 
        .money__body.container 
            h2.money__title.mein__title.enable-xl С нами зарабатывают
            .money__content 
                .money__left 
                    img(src="@img/money-img.png", alt="").money__img.disable-lg
                    img(src="@img/money-img_lg.png", alt="").money__img.enable-lg
                    img(src="@img/money-bg.png", alt="").money__bg.disable-xl
                    img(src="@img/money-bg_lg.png", alt="").money__bg.enable-xl.disable-md2
                    img(src="@img/money-bg_md.png", alt="").money__bg.enable-md2
                .money__right 
                    h2.money__title.disable-xl С нами зарабатывают
                    .money__item 
                        h3.money__item-title 153 565 руб
                        p.money__item-p Заработал наш партнер за прошлый месяц
                    .money__item 
                        h3.money__item-title более 15 продюсеров
                        p.money__item-p Подключились к нашей программе 
                    .money__item 
                        h3.money__item-title 10% кэшбек
                        p.money__item-p Гарантированный кэшбек с каждой услуги

                
