mixin partners()
    .partners 
        .partners__body.container 
            .partners__left 
                h2.partners__title 
                    span.color-secondary Вы продюсер? 
                    | Зарабатывайте вместе со студией Face2Face!
                p.partners__p Получайте КЭШБЕК <span class="fw-500"> до 10% </span> наличными за каждого приглашенного клиента! А также дополнительную <span class="fw-500"> скидку 5% </span> на все услуги вашим клиентам.
                //- a.partners__btn.btn-primary(href="#!") Стать партнером
            .partners__right 
                img(src="@img/partners-img.png", alt="" draggable="false").partners__img
                img(src="@img/partners-img-bg.png", alt="" draggable="false").partners__img-bg.disable-sm
                img(src="@img/partners-img-bg_sm.png", alt="" draggable="false").partners__img-bg.enable-sm