.home{
    background: url('../img/home-bg.png'), #FEFBFB;
    background-size: 100% 100% !important;
    background-repeat: no-repeat !important;
    @include media(992){
        background: url('../img/home-bg-md.png'), #FEFBFB;
    }
    @include media(568){
        background: url('../img/home-bg-sm.png'), #FEFBFB;
    }
}