.produccers{
    background: url('../img/produccers-bg.png'), #FEFBFB;
    background-size: 100% 100% !important;
    background-repeat: no-repeat !important;
    @include media(992){
        background: url('../img/produccers-bg-md.png'), #FEFBFB;
    }
    @include media(568){
        background: url('../img/produccers-bg-sm.png'), #FEFBFB;
    }
    &-page{
        padding-top: 50px;
        padding-bottom: 149px;  
        @include media(1200){
            padding-top: 80px;
        }
        @include media(576){
            padding-top: 30px;
        }
    }
}