mixin examples()
    .examples 
        .examples__body.container 
            h2.examples__title Примеры освещения
            .container 
                .examples__slider.swiper
                    .examples__wrapper.swiper-wrapper 
                        .examples__slide.swiper-slide
                            img(src="@img/examples-img-1.png", alt="").swiper__img
                        .examples__slide.swiper-slide
                            img(src="@img/examples-img-2.png", alt="").swiper__img
                        .examples__slide.swiper-slide
                            img(src="@img/examples-img-3.png", alt="").swiper__img
                        .examples__slide.swiper-slide
                            img(src="@img/examples-img-1.png", alt="").swiper__img
                        .examples__slide.swiper-slide
                            img(src="@img/examples-img-2.png", alt="").swiper__img
                        .examples__slide.swiper-slide
                            img(src="@img/examples-img-3.png", alt="").swiper__img
                    .examples__prev.swiper-button-prev 
                    .examples__next.swiper-button-next

                        
