mixin lamps()
    .lamps 
        .lamps__body.container 
            h2.lamps__title Наше оборудование
            .lamps__list 
                a(href="audio.html").lamps__li
                    img(src="@img/lamps-icon-1.png", alt="").lamps__icon
                    .lamps__link Аудио 
                        span.lamps__link-primary.disable-xl.enable-360 оборудование 
                a(href="video.html").lamps__li
                    img(src="@img/lamps-icon-2.png", alt="").lamps__icon
                    .lamps__link Видео 
                        span.lamps__link-primary.disable-xl.enable-360 оборудование  
                a(href="#!").lamps__li.active
                    img(src="@img/lamps-icon-3.png", alt="").lamps__icon
                    .lamps__link Свет 
                        span.lamps__link-primary.disable-xl.enable-360 оборудование 
                a(href="fon.html").lamps__li
                    img(src="@img/lamps-icon-4.png", alt="").lamps__icon
                    .lamps__link Фон
            .lamps__content 
                .lamps__left 
                    h3.lamps__left-title Световое оборудование 
                    p.lamps__left-p Свет - важная составляющая для создания атмосферы.В вашем распоряжении софтбоксы, RGB и светодиодные лампы.
                .lamps__right 
                    img(src="@img/lamps-img.png", alt="").lamps__img