mixin use()
    .use 
        .use__body.container 
            h2.use__title Мы используем
            .use__content 
                .use__item 
                    .use__img   
                        img(src="@img/use-img-1.png", alt="").use-img
                    .use__info
                        h3.use__item-title Основной свет
                        p.use__item-p Aputure Amaran 200x
                        p.use__item-p Godox FL150R
                .use__item 
                    .use__img 
                        img(src="@img/use-img-2.png", alt="").use-img
                    .use__info
                        h3.use__item-title RGB лампы для заливки фона
                        p.use__item-p Светодиодная Youngnou III 360 PRO
                        p.use__item-p Светодиодная Soonlao
                .use__item 
                    .use__img 
                        img(src="@img/use-img-3.png", alt="").use-img
                    .use__info  
                        h3.use__item-title Доп.освещение
                        p.use__item-p Светодиодные 3200-6500к
                .use__item 
                    .use__img 
                        img(src="@img/use-img-4.png", alt="").use-img
                    .use__info
                        h3.use__item-title Стойки
                        p.use__item-p Журавль Avenger (высота до 3 м) (вес до 40 кг)
                .use__item 
                    .use__img   
                        img(src="@img/use-img-5.png", alt="").use-img
                    .use__info
                        h3.use__item-title Софтбоксы
                        p.use__item-p Софтбокс Aputure Light Dome mini II
                        p.use__item-p Godox
                        p.use__item-p Софтбокс Aputure Lantern China Ball
                        p.use__item-p Софтбокс Aputure Space Light

