.advantages{
    &__body{
        @include media(1200){
            display: flex;
            flex-wrap: wrap;
        }
    }
    &__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 50px;
        @include media(1200){
            display: none;
            width: 33.3333%;
            flex-direction: column;
        }
        @include media(767){
            margin-bottom: 5px;
        }
    }
    &__title{
        font-weight: 800;
        font-size: 40px;
        line-height: 49px;
        color: #101010;  
        @include media(1200){
            font-weight: 800;
            font-size: 35px;
            line-height: 43px;
            margin-bottom: 15px;
        }
        @include media(767){
            font-weight: 800;
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 10px;
            text-align: center;
        }     
    }
    &__desc{
        font-weight: 300;
        font-size: 25px;
        line-height: 130%;
        color: #101010;
        max-width: 728px;
        position: relative;
        @include media(1200){
            font-weight: 300;
            font-size: 15px;
            line-height: 130%;
        }
        @include media(767){
            font-weight: 300;
            font-size: 15px;
            line-height: 130%;
            text-align: center;            
        }
        &::before{
            content: '';
            position: absolute;
            left: -20px;
            top: 50%;
            transform: translateY(-50%);
            width: 2px;
            height: 80px;
            background: #000;
            @include media(1200){
                display: none;
            }
        }
    }
    &__content{
        display: flex;
        justify-content: space-between;
        column-gap: 37px;
        @include media(1400){
            column-gap: 15px;
        }
        @include media(1200){
            flex-wrap: wrap;
            column-gap: 20px;
            row-gap: 20px;
        }
    }
    &__item{
        max-width: 230px;
        width: calc(25% - 29.6px);
        background: #FFFFFF;
        box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
        border-radius: 15px;
        min-height: 280px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;
        position: relative;
        @include media(1400){
            min-height: 290px;
        }
        @include media(1200){
            max-width: calc(33.3333% - 14px);
            width: calc(33.3333% - 14px);
            min-height: 280px;
        }
        @include media(767){
            width: 100%;
            max-width: 100%;
            min-height: 80px;
            flex-direction: row;
            overflow: visible;
        }
        &.active{
            &::before{
                content: '';
                position: absolute;
                inset: 0px;
                background: linear-gradient(180deg, #8D1AEF 0%, rgba(74, 29, 255, 0) 82.81%);
                z-index: 1;
                border-radius: 15px;
                @include media(767){
                    display: none;
                }
            }
            &::after{
                content: '';
                position: absolute;
                inset: 1px;
                background: #fff;
                z-index: 2;
                border-radius: 15px;
                @include media(767){
                    display: none;
                }
            }
            .advantages__item{
                &-img{
                    background: linear-gradient(96.98deg, #8D1AEF 0%, #F1E2FF 100%);
                    border-radius: 15px 15px 0px 0px;
                    @include media(767){
                        background: linear-gradient(96.98deg, #F59139 0%, #FFFCBA 100%);
                        border-radius: 15px;
                    }
                }
            }
        }
        &.advantages__header{
            display: none;
            background: none;
            box-shadow: none;
            border-radius: 0;
            @include media(1200){
                display: flex;
                justify-content: flex-start;
            }
            @include media(767){
                flex-direction: column;
            }
        }
        &-content{
            padding: 15px;
            z-index: 3;
            @include media(359){
                padding: 15px 12px 15px 11px;
            }
        }
        &-title{
            font-weight: 800;
            font-size: 20px;
            line-height: 24px;
            color: #101010;
            margin-bottom: 5px;
            z-index: 3;
            @include media(767){
                font-weight: 800;
                font-size: 15px;
                line-height: 18px;
            }
        }
        &-p{
            font-weight: 300;
            font-size: 16px;
            line-height: 130%;
            color: #101010;
            z-index: 3;
            @include media(1200){
                font-size: 15px;
            }
            @include media(576){
                font-weight: 300;
                font-size: 10px;
                line-height: 130%;
            }
            &.small{
                font-weight: 300;
                font-size: 14px;
                line-height: 130%;
                @include media(1200){
                    letter-spacing: -0.5px;
                }
                @include media(576){
                    font-weight: 300;
                    font-size: 10px;
                    line-height: 130%;
                }
            }
        }
        &-img{
            background: linear-gradient(96.98deg, #F59139 0%, #FFFCBA 100%);
            border-radius: 15px;
            width: 100%;
            height: 100px;
            position: relative;
            z-index: 3;
            @include media(767){
                height: 100%;
                min-width: 65px;
                width: 65px;
            }
            img{
                position: absolute;
                bottom: 10px;
                right: 20px;
                z-index: 3;
                @include media(1200){
                    max-height: 135px;
                }
                @include media(767){
                    top: -7px;
                    right: 0;
                    bottom: 7px;
                    width: 53px;
                    height: 80px;
                }
            }
        }
    }
}