.header{
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100px;
  padding: 20px 0;
  display: flex;
  align-items: center;
  z-index: 50;
  transition: 200ms ease;
  border: 2px solid transparent;
  &.sticky{
    background: linear-gradient(282.55deg, rgba(255, 255, 255, 0.7) 18.2%, rgba(255, 255, 255, 0) 87.02%);
    filter: drop-shadow(0px 10px 20px rgba(115, 137, 255, 0.1));
    backdrop-filter: blur(30px);
    width: calc(100% - 10px);
    margin-left: auto;
    margin-right: auto;
    border-radius: 0px 0px 15px 15px;
    // border: 2px solid #FFF2F1;
    box-shadow: 0px 10px 20px 0px #7389FF1A;
  }
  &.menu-open{
    backdrop-filter: none;
    filter: none;
  }
  @include media(767){
    height: 50px;
    padding: 13px 0;
    background: linear-gradient(282.55deg, rgba(255, 255, 255, 0.7) 18.2%, rgba(255, 255, 255, 0) 87.02%);
    filter: drop-shadow(0px 10px 20px rgba(115, 137, 255, 0.1));
    width: calc(100% - 10px);
    margin-left: auto;
    margin-right: auto;
    border-radius: 0px 0px 15px 15px;
    border: 2px solid #FFF2F1;
    box-shadow: 0px 10px 20px 0px #7389FF1A;
    &.menu-open{
      box-shadow: none;
      filter: none;
      border-bottom: 2px solid transparent;
      background: linear-gradient(293.26deg, rgba(255, 255, 255, 0.56) 27.59%, rgba(240, 237, 255, 0.56) 113.35%);
    }
  }
  &__nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__left{
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  &__logo{
    font-weight: 900;
    font-size: 25px;
    line-height: 30px;
    color: #101010;
    z-index: 51;
    @include media(767){
      font-size: 20px;
      line-height: 24px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &__menu{
    @include media(1400){
      position: fixed;
      top: -2px;
      left: -2px;
      box-sizing: border-box;
      padding-top: 100px;
      padding-bottom: 26px;
      height: max-content;
      transform: translateY(-30%);
      width: calc(100% + 4px);
      flex-direction: column;
      background: linear-gradient(293.26deg, rgba(255, 255, 255, 0.56) 27.59%, rgba(240, 237, 255, 0.56) 113.35%);
      box-shadow: 0px 10px 20px rgba(115, 137, 255, 0.1);
      backdrop-filter: blur(30px);
      border-radius: 0px 0px 15px 15px;
      z-index: 50;
      transition: 300ms ease;
      overflow: hidden;
      opacity: 0;
      visibility: hidden;
      border: 2px solid #FFF2F1;
      &.open{
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
      }
    }
    @include media(767){
      padding-top: 67.5px;
    }
  }
  &__list{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    list-style-type: none;
    gap: 20px;
    @include media(1400){
      flex-direction: column;
      align-items: flex-start;
      max-width: 1140px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 15px;
      padding-right: 15px;
    }
    @include media(1200){
      max-width: 960px;
    }
    @include media(992){
      max-width: 720px;
    }
    @include media(767){
      max-width: 540px;
    }
  }
  &__link{
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    color: #101010;
  }
  &__xxl{
    display: none;
    @include media(1400){
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      .intro{
        &__social{
          margin-bottom: 25px;
        }
        &__tel{
          margin-bottom: 10px;
        }
        &__p{
          text-align: left;
          max-width: 175px;
          font-weight: 300;
          font-size: 15px;
          line-height: 130%;
        }
      }
    }
  }
  &__btn{
    padding: 18px 50px;
    z-index: 51;
    @include media(1400){
      padding: 13px 40px;
    }
    @include media(768){
      padding: 0;
      border: none;
      display: flex;
      &:hover{
        background: transparent;
      }
    }
  }
  &__button {
    min-width: 18px;
    width: 18px;
    height: 8px;
    position: relative;
    border: none;
    outline: none;
    background: none;
    display: none;
    transition: 200ms ease;
    margin-right: 18px;
    z-index: 51;
    @include media(1400) {
      display: block;
    }
    &.open {
      transform: rotate(90deg);
      .header__button-line{
        background: #F59139;
      }
      &::before {
        background: #F59139;
      }
    }
    &::before,
    &-line {
      transition: 0.5s;
      position: absolute;
      content: "";
      left: 0;
      width: 100%;
      height: 2px;
      background: #8D1AEF;
    }
    &::before {
      top: 0%;
    }
    &-line {
      top: 100%;
      transform: translateY(-100%);
    }
  }
}