.offer{
    &__body{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    &__img{
        &-calendar{
            filter: drop-shadow(0px 15px 20px rgba(159, 140, 255, 0.15));
        }
        &-check{
            filter: drop-shadow(0px 15px 20px rgba(159, 140, 255, 0.15));
        }
        &-clock{
            filter: drop-shadow(0px 15px 20px rgba(159, 140, 255, 0.15));
        }
    }
}