.podcasts{
    &__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 50px;
        &-buttons{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            column-gap: 20px;
        }
        &-btn{
            width: 310px;
            height: 60px;
            border-width: 2px;
            &.active{
                border: 2px solid #8B8B8B;
                color: #8B8B8B;
                &:hover{
                    background: transparent;
                }
            }
        }
    }
    &__title{
        font-weight: 800;
        font-size: 40px;
        line-height: 49px;
        color: #101010;
        margin-bottom: 15px;
    }
    &__p{
        font-weight: 300;
        font-size: 25px;
        line-height: 130%;
        color: #101010;
    }
    &__slider{
        display: none;
        &.active{
            display: block;
        }
    }
    &__video{
        &-item{
            height: auto;
            border-radius: 20px;
            overflow: hidden;
            box-shadow: 0px 10px 50px rgba(101, 126, 255, 0.1);
            background: #FFFFFF;
            display: flex;
            flex-direction: column;
            &-media{
                width: 100%;
                position: relative;
                padding-bottom: 56.25%;
                video{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                .playback-animation {
                    pointer-events: none;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    background-color: rgba(0, 0, 0, 0.6);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    opacity: 0;
                    .playback-icons{
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    .playback-icon{
                        &.hidden{
                            display: none;
                        }
                    }
                }
            }
            &-content{
                padding: 0 20px 30px 20px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                flex: 1 1 auto;
                min-height: 215.5px;
                &.hide{
                    display: none;
                }
                &-header{
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    padding: 15px 0 20px 0;
                    a{
                        font-weight: 900;
                        font-size: 18px;
                        line-height: 22px;
                        text-transform: capitalize;
                        color: #101010;
                        @include media(576){
                            font-weight: 800;
                            font-size: 15px;
                            line-height: 18px;
                        }
                    }
                    img{
                        width: 50px;
                        height: 50px;
                        margin-right: 15px;
                    }
                }
                &-body{
                    display: flex;
                    flex-direction: column;
                    row-gap: 10px;
                }
                &-social{
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    img{
                        margin-right: 15px;
                    }
                    p{
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 130%;
                        text-decoration-line: underline;
                        color: #8D1AEF;                        
                    }
                }
            }
            &-controls{
                padding: 15px 20px 30px 20px;
                &.hide{
                    display: none;
                }
                &-title{
                    text-align: center;
                    width: 100%;
                    font-weight: 900;
                    font-size: 18px;
                    line-height: 22px;
                    text-transform: capitalize;
                    color: #101010;
                    margin-bottom: 9px;
                    @include media(576){
                        font-weight: 800;
                        font-size: 15px;
                        line-height: 18px;
                    }
                }
                &-socials{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    column-gap: 10px;
                    margin-bottom: 20px;
                }
                .play{
                    svg{
                        &.hidden{
                            display: none;
                        }
                    }
                }
                &-progress{
                    position: relative;
                    &:hover{
                        .seek{
                            &-tooltip{
                                opacity: 1;
                                visibility: visible;
                            }
                        }
                    }
                    .progress-bar{
                        display: none;
                    }
                    .seek{
                        width: 100%;
                        height: 10px;
                        &-tooltip{
                            position: absolute;
                            top: -30px;
                            transform: translateX(calc(-50% - 20px));
                            display: inline-block;
                            background-color: rgba(0, 0, 0, 0.6);
                            color: #fff;
                            font-size: 15px;
                            line-height: 130%;
                            padding: 4px 6px;
                            word-break: keep-all;
                            white-space: pre;
                            opacity: 0;
                            visibility: hidden;
                            transition: opacity 200ms ease, visibility 200ms ease;
                        }
                    }
                }
                &-time{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    time{
                        font-size: 15px;
                        line-height: 130%;
                        color: #101010;                        
                    }
                }
                &-btns{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    column-gap: 28px;
                }
            }
        }
    }
}