.technicals{
    &__title{
        font-weight: 800;
        font-size: 40px;
        line-height: 49px;
        text-align: center;
        color: #101010;
        margin-bottom: 50px;
    }
    &__content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        justify-content:space-between;
    }
    &__item{
        width: 420px;
        height: 406px;
        position: relative;
    }
    &__img{
        position: absolute;
        inset: 0;
    }
    &__info{
        position: absolute;
        bottom: 20px;
        left: 110px;
        background: #FFFFFF;
        box-shadow: 0px 10px 50px rgba(101, 126, 255, 0.1);
        backdrop-filter: blur(20px);
        border-radius: 20px;
        width: 310px;
        height: 250px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-left: 20px;
        &-list{
            padding-left: 17px;
            display: flex;
            flex-direction: column;
            row-gap: 7px;
        }
        &-title{
            font-weight: 900;
            font-size: 18px;
            line-height: 22px;
            text-transform: capitalize;
            color: #101010;
            margin-bottom: 10px;
        }
        &-li{
            font-weight: 300;
            font-size: 15px;
            line-height: 130%;
            color: #101010;
            position: relative;
            &::before{
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 7px;
                height: 7px;
                border-radius: 50%;
                border-radius: 8px;
            }
        }
    }
}