mixin advantages()
  .advantages 
    .advantages__body.container 
      .advantages__header 
        h2.advantages__title К нам стоит <span class="color-secondary">прийти
        p.advantages__desc Несколько важных преимуществ, которые помогут вам выбрать нашу студию для реализации своих проектов
      .advantages__content 
        .advantages__item.advantages__header
          h2.advantages__title К нам стоит <span class="color-secondary">прийти
          p.advantages__desc Несколько важных преимуществ, которые помогут вам выбрать нашу студию для реализации своих проектов
        .advantages__item 
          .advantages__item-content
            p.advantages__item-title 2 студии
            p.advantages__item-p 5 совершенно разных зала для записи абсолютно любого контента
          .advantages__item-img 
            img(src="@img/advantages-1.png", alt="" draggable="false")
        .advantages__item.active 
          .advantages__item-content
            p.advantages__item-title Метро и ТТК
            p.advantages__item-p Удобно добраться из любой точки Москвы
          .advantages__item-img 
            img(src="@img/advantages-2.png", alt="" draggable="false").disable-md2
            img(src="@img/advantages-2-md.png", alt="" draggable="false").enable-md2
        .advantages__item 
          .advantages__item-content
            p.advantages__item-title Удобная оплата
            p.advantages__item-p Расплачивайтесь любым удобным для вас способом: картой, оплата на р\с
          .advantages__item-img 
            img(src="@img/advantages-3.png", alt="" draggable="false")
        .advantages__item 
          .advantages__item-content
            p.advantages__item-title Премиум оборудование
            p.advantages__item-p.small Наши студии оснащены профессиональным оборудованием для любых ваших задач.
          .advantages__item-img 
            img(src="@img/advantages-4.png", alt="" draggable="false")
        .advantages__item 
          .advantages__item-content
            p.advantages__item-title Кофе и чай
            p.advantages__item-p Сделайте перерыв и насладитесь вкусными напитками в нашей студии
          .advantages__item-img 
            img(src="@img/advantages-5.png", alt="" draggable="false")