mixin advantages()
  .advantages 
    .advantages__body.container 
      .advantages__header 
        h2.advantages__title К нам стоит <span class="color-secondary">прийти
        p.advantages__desc Несколько важных преимуществ, которые помогут вам выбрать нашу студию для реализации своих проектов
      .advantages__content 
        .advantages__item 
          p.advantages__item-title 2 студии
          p.advantages__item-p 5 совершенно разных зала для записи абсолютно любого контента