mixin area()
    .area 
        .area__body.container 
            .area__item 
                .area__content 
                    .area__slider.area__slider_1-sm.swiper.enable-lg
                        .area__wrapper.swiper-wrapper 
                            .area-slide.swiper-slide 
                                .area__img
                                    img(src="@img/area-slide-1.png", alt="")
                            .area-slide.swiper-slide 
                                .area__img
                                    img(src="@img/area-slide-2.png", alt="")
                            .area-slide.swiper-slide 
                                .area__img
                                    img(src="@img/area-slide-3.png", alt="")
                            .area-slide.swiper-slide 
                                .area__img
                                    img(src="@img/area-slide-4.png", alt="")
                    .swiper-pagination.area-pagination.area-pagination_1 
                    .swiper-button-next.area__next.area__next_1  
                    .swiper-button-prev.area__prev.area__prev_1

                    .area__slider.area__slider_1.swiper.disable-lg 
                        .area__wrapper.swiper-wrapper 
                            .area-slide.swiper-slide 
                                .area__img
                                    img(src="@img/area-slide-1.png", alt="")
                                .area__img
                                    img(src="@img/area-slide-2.png", alt="")
                                .area__img
                                    img(src="@img/area-slide-3.png", alt="")
                                .area__img
                                    img(src="@img/area-slide-4.png", alt="") 
                            .area-slide.swiper-slide 
                                .area__img
                                    img(src="@img/area-slide-1.png", alt="")
                                .area__img
                                    img(src="@img/area-slide-2.png", alt="")
                                .area__img 
                                    img(src="@img/area-slide-3.png", alt="")
                                .area__img
                                    img(src="@img/area-slide-4.png", alt="") 
                    .swiper-button-next.area__next.area__next_1  
                    .swiper-button-prev.area__prev.area__prev_1
                .area__right
                    h2.area__title Малая зона 18 м² 1 900 руб/час
                    p.area__p Зона со светлой звукоизоляцией и профессиональным оборудованием для создания качественного контента
                    a(href="#!").area__btn.btn-primary Забронировать зал 



            .area__item 
                .area__content  
                    .area__slider.area__slider_2-sm.swiper.enable-lg
                        .area__wrapper.swiper-wrapper 
                            .area-slide.swiper-slide 
                                .area__img
                                    img(src="@img/area-slide-1.png", alt="")
                            .area-slide.swiper-slide 
                                .area__img
                                    img(src="@img/area-slide-2.png", alt="")
                            .area-slide.swiper-slide 
                                .area__img
                                    img(src="@img/area-slide-3.png", alt="")
                            .area-slide.swiper-slide 
                                .area__img
                                    img(src="@img/area-slide-4.png", alt="")
                        .swiper-pagination.area-pagination.area-pagination_2

                    .area__slider.area__slider_2.swiper.disable-lg 
                        .area__wrapper.swiper-wrapper 
                            .area-slide.swiper-slide 
                                .area__img
                                    img(src="@img/area-slide-1.png", alt="")
                                .area__img
                                    img(src="@img/area-slide-2.png", alt="")
                                .area__img
                                    img(src="@img/area-slide-3.png", alt="")
                                .area__img
                                    img(src="@img/area-slide-4.png", alt="") 
                            .area-slide.swiper-slide 
                                .area__img
                                    img(src="@img/area-slide-1.png", alt="")
                                .area__img
                                    img(src="@img/area-slide-2.png", alt="")
                                .area__img 
                                    img(src="@img/area-slide-3.png", alt="")
                                .area__img
                                    img(src="@img/area-slide-4.png", alt="") 
                    .swiper-button-next.area__next.area__next_2   
                    .swiper-button-prev.area__prev.area__prev_2 
                .area__right
                    h2.area__title Средняя зона 25 м²  2 500 руб/час
                    p.area__p Зона в темных тонах со студийным светом для создания качественного видео и подкастов
                    a(href="#!").area__btn.btn-primary Забронировать зал 



            .area__item 
                .area__content  
                    .area__slider.swiper.enable-lg.area__slider_3-sm 
                        .area__wrapper.swiper-wrapper 
                            .area-slide.swiper-slide 
                                .area__img
                                    img(src="@img/area-slide-1.png", alt="")
                            .area-slide.swiper-slide 
                                .area__img
                                    img(src="@img/area-slide-2.png", alt="")
                            .area-slide.swiper-slide 
                                .area__img
                                    img(src="@img/area-slide-3.png", alt="")
                            .area-slide.swiper-slide 
                                .area__img
                                    img(src="@img/area-slide-4.png", alt="")
                        .swiper-pagination.area-pagination.area-pagination_3 

                    .area__slider.swiper.disable-lg.area__slider_3 
                        .area__wrapper.swiper-wrapper 
                            .area-slide.swiper-slide 
                                .area__img
                                    img(src="@img/area-slide-1.png", alt="")
                                .area__img
                                    img(src="@img/area-slide-2.png", alt="")
                                .area__img
                                    img(src="@img/area-slide-3.png", alt="")
                                .area__img
                                    img(src="@img/area-slide-4.png", alt="") 
                            .area-slide.swiper-slide 
                                .area__img
                                    img(src="@img/area-slide-1.png", alt="")
                                .area__img
                                    img(src="@img/area-slide-2.png", alt="")
                                .area__img 
                                    img(src="@img/area-slide-3.png", alt="")
                                .area__img
                                    img(src="@img/area-slide-4.png", alt="") 
                    .swiper-button-next.area__next.area__next_3   
                    .swiper-button-prev.area__prev.area__prev_3 
                .area__right
                    h2.area__title Большая зона 47 м²    2 900 руб/час
                    p.area__p Зона со студийным светом, хромакеем, сменными бумажными фонами и более 15 setup`ов для создания качественного видео
                    a(href="#!").area__btn.btn-primary Забронировать зал 

            
mixin area2()
    .area 
        .area__body.container 
            .area__item 
                .area__content 
                    .area__slider.area__slider_1-sm.swiper.enable-lg
                        .area__wrapper.swiper-wrapper 
                            .area-slide.swiper-slide 
                                .area__img
                                    img(src="@img/area-slide-1.png", alt="")
                            .area-slide.swiper-slide 
                                .area__img
                                    img(src="@img/area-slide-2.png", alt="")
                            .area-slide.swiper-slide 
                                .area__img
                                    img(src="@img/area-slide-3.png", alt="")
                            .area-slide.swiper-slide 
                                .area__img
                                    img(src="@img/area-slide-4.png", alt="")
                    .swiper-pagination.area-pagination.area-pagination_1 
                    .swiper-button-next.area__next.area__next_1  
                    .swiper-button-prev.area__prev.area__prev_1

                    .area__slider.area__slider_1.swiper.disable-lg 
                        .area__wrapper.swiper-wrapper 
                            .area-slide.swiper-slide 
                                .area__img
                                    img(src="@img/area-slide-1.png", alt="")
                                .area__img
                                    img(src="@img/area-slide-2.png", alt="")
                                .area__img
                                    img(src="@img/area-slide-3.png", alt="")
                                .area__img
                                    img(src="@img/area-slide-4.png", alt="") 
                            .area-slide.swiper-slide 
                                .area__img
                                    img(src="@img/area-slide-1.png", alt="")
                                .area__img
                                    img(src="@img/area-slide-2.png", alt="")
                                .area__img 
                                    img(src="@img/area-slide-3.png", alt="")
                                .area__img
                                    img(src="@img/area-slide-4.png", alt="") 
                    .swiper-button-next.area__next.area__next_1  
                    .swiper-button-prev.area__prev.area__prev_1
                .area__right
                    h2.area__title Подкаст-зона 15м² от 1900 руб/час
                    p.area__p Зона со звукоизоляцией и профессиональным оборудованием для создания качественного контента
                    a(href="#!").area__btn.btn-primary Забронировать зал 



            .area__item 
                .area__content  
                    .area__slider.area__slider_2-sm.swiper.enable-lg
                        .area__wrapper.swiper-wrapper 
                            .area-slide.swiper-slide 
                                .area__img
                                    img(src="@img/area-slide-1.png", alt="")
                            .area-slide.swiper-slide 
                                .area__img
                                    img(src="@img/area-slide-2.png", alt="")
                            .area-slide.swiper-slide 
                                .area__img
                                    img(src="@img/area-slide-3.png", alt="")
                            .area-slide.swiper-slide 
                                .area__img
                                    img(src="@img/area-slide-4.png", alt="")
                        .swiper-pagination.area-pagination.area-pagination_2

                    .area__slider.area__slider_2.swiper.disable-lg 
                        .area__wrapper.swiper-wrapper 
                            .area-slide.swiper-slide 
                                .area__img
                                    img(src="@img/area-slide-1.png", alt="")
                                .area__img
                                    img(src="@img/area-slide-2.png", alt="")
                                .area__img
                                    img(src="@img/area-slide-3.png", alt="")
                                .area__img
                                    img(src="@img/area-slide-4.png", alt="") 
                            .area-slide.swiper-slide 
                                .area__img
                                    img(src="@img/area-slide-1.png", alt="")
                                .area__img
                                    img(src="@img/area-slide-2.png", alt="")
                                .area__img 
                                    img(src="@img/area-slide-3.png", alt="")
                                .area__img
                                    img(src="@img/area-slide-4.png", alt="") 
                    .swiper-button-next.area__next.area__next_2   
                    .swiper-button-prev.area__prev.area__prev_2 
                .area__right
                    h2.area__title Видео зона 28м² от 1900 руб/час
                    p.area__p Зона со студийным светом, хромакеем, сменными бумажными фонами и более 100 setup`ов для создания качественного видео
                    a(href="#!").area__btn.btn-primary Забронировать зал 
