mixin clients()
  .clients 
    .clients__body.container 
      h2.clients__title Наши клиенты
      .clients__slider.swiper 
        .clients__wrapper.swiper-wrapper   
          .clients__item.swiper-slide 
            a(href="https://www.youtube.com/c/FIGHTSHOW" target="_blank" rel="noopener").clients__item-img
              img(src="@img/client-1.png", alt="" draggable="false")
            p.clients__item-title 
              img(src="@img/youtube.svg", alt="" draggable="false")
              | Fight Show
            p.clients__item-desc Армен Гулян, Эдуард Вартанян
          .clients__item.swiper-slide 
            a(href="https://www.youtube.com/c/%D0%96%D0%98%D0%92%D0%90%D0%AF%D0%A1%D0%A2%D0%90%D0%9B%D0%AC" target="_blank" rel="noopener").clients__item-img
              img(src="@img/client-2.png", alt="" draggable="false")
            p.clients__item-title 
              img(src="@img/youtube.svg", alt="" draggable="false")
              | Живая сталь
            p.clients__item-desc (бойцы) <br>Артем
          .clients__item.swiper-slide 
            a(href="https://www.youtube.com/" target="_blank" rel="noopener").clients__item-img
              img(src="@img/client-3.png", alt="" draggable="false")
            p.clients__item-title 
              img(src="@img/youtube.svg", alt="" draggable="false")
              | Боксер
            p.clients__item-desc Athletic Training
          .clients__item.swiper-slide 
            a(href="https://www.youtube.com/c/DBNN27" target="_blank" rel="noopener").clients__item-img
              img(src="@img/client-4.png", alt="" draggable="false")
            p.clients__item-title 
              img(src="@img/youtube.svg", alt="" draggable="false")
              | dbnn
            p.clients__item-desc Саша музыкант
          .clients__item.swiper-slide 
            a(href="https://www.youtube.com/channel/UCyZnEY-8BN92vT8dhIU2g4w" target="_blank" rel="noopener").clients__item-img
              img(src="@img/client-5.png", alt="" draggable="false")
            p.clients__item-title 
              img(src="@img/youtube.svg", alt="" draggable="false")
              | Живая сталь
            p.clients__item-desc (качки) <br>Артем
          .clients__item.swiper-slide 
            a(href="https://youtube.com/" target="_blank" rel="noopener").clients__item-img
              img(src="@img/client-6.png", alt="" draggable="false")
            p.clients__item-title 
              img(src="@img/youtube.svg", alt="" draggable="false")
              | ИПшники
            p.clients__item-desc Паша
        .clients__prev.swiper-button-prev
        .clients__next.swiper-button-next 