mixin contacts()
    .contacts 
        .contacts__body.container 
            .contacts__header 
                h2.contacts__title Контакты
                .contacts__btns 
                    a(href="tula.html").contacts__btn.btn-primary_nobg Студия м. Отрадное, 50 м2
                    a(href="informations.html").contacts__btn.btn-primary_nobg Студия м. Отрадное, 50 м2 
            .contacts__info 
                .contacts__content 
                    .contacts__left 
                        h3.contacts__left-title Студия м. Отрадное
                        ul.contacts__list 
                            .contacts__list-item 
                                li.contacts__li.disable-xl
                                    p.contacts__link.disable-xl
                                        img(src="@img/contacts-icon-1.png", alt="")
                                        | Алтуфьевское ш., 37, стр. 1, Москва 
                                li.contacts__li.enable-xl 
                                    p.contacts__link
                                        img(src="@img/contacts-icon-1.png", alt="")
                                        | ул. Городская 8, Москва
                                li.contacts__li.disable-xl
                                    p.contacts__link 
                                        img(src="@img/contacts-icon-2.png", alt="")
                                        | ИП Нитченко А.И. ОГРНИП 317312300000432 / ИНН 312325179920
                            .contacts__list-item 
                                li.contacts__li 
                                    a(href="tel:+74950212992").contacts__link 
                                        img(src="@img/contacts-icon-3.png", alt="")
                                        | +7 (495) 021-29-92
                                li.contacts__li 
                                    a(href="mailto:hello@f2fst.ru").contacts__link 
                                        img(src="@img/contacts-icon-4.png", alt="")
                                        | hello@f2fst.ru
                    .contacts__left.enable-xl.disable-md2
                        h3.contacts__left-title Как добраться транспортом от:
                        ul.contacts__list 
                            .contacts__list-item 
                                li.contacts__li 
                                    p.contacts__link-second м. Шаболовская
                                li.contacts__li.disable-xl
                                    p.contacts__link-second.contacts__link ИП Нитченко А.И. ОГРНИП 317312300000432 / ИНН 312325179920
                            .contacts__list-item 
                                li.contacts__li
                                    a(href="tel:+74950212992").contacts__link-second.contacts__link м. Тульская
                                li.contacts__li
                                    a(href="mailto:hello@f2fst.ru").contacts__link-second.contacts__link м. Серпуховская
                    .contacts__right 
                        a(target="_blank" href="https://yandex.com/maps/213/moscow/house/altufyevskoye_shosse_37s1/Z04Ycw9hTEYFQFtvfXR3dn9rYA==/services/?azimuth=6.135923151542565&ll=37.582988%2C55.867521&tab=services&tilt=0.7778543176444312&z=18").contacts__left-btn.btn-primary.disable-xl Открыть в яндекс навигаторе 
                        a(target="_blank" href="https://yandex.com/maps/213/moscow/house/altufyevskoye_shosse_37s1/Z04Ycw9hTEYFQFtvfXR3dn9rYA==/services/?azimuth=6.135923151542565&ll=37.582988%2C55.867521&tab=services&tilt=0.7778543176444312&z=18").contacts__left-btn.btn-primary.disable-xl.enable-md2 Как добраться
                .contacts__map
                    <div class="map" style="position:relative;overflow:hidden;"><a href="https://yandex.com/maps/213/moscow/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Moscow</a><a href="https://yandex.com/maps/213/moscow/house/altufyevskoye_shosse_37s1/Z04Ycw9hTEYFQFtvfXR3dn9rYA==/services/?azimuth=6.135923151542565&ll=37.582996%2C55.867521&tab=services&tilt=0.7778543176444312&utm_medium=mapframe&utm_source=maps&z=18.2" style="color:#eee;font-size:12px;position:absolute;top:14px;">Altufyevskoye Highway, 37с1 — Yandex.Maps</a><iframe src="https://yandex.com/map-widget/v1/-/CCU5Z6QrXB" width="560" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>
            a(target="_blank" href="https://yandex.com/maps/213/moscow/house/altufyevskoye_shosse_37s1/Z04Ycw9hTEYFQFtvfXR3dn9rYA==/services/?azimuth=6.135923151542565&ll=37.582988%2C55.867521&tab=services&tilt=0.7778543176444312&z=18").contacts__btn.contacts-btn_xl.btn-primary.enable-xl.disable-md2 Открыть в яндекс навигаторе