mixin popups()
  .popups 
    .popup#popup 
      .popup-close
      .popup__body
        .popup__content
          h2.popup__title #[span Вы продюсер?] Получите выгодное предложение с кэшбеком!
          form(action="#").popup__form#popupForm
            .popup__item 
              input(type="text" required placeholder="ФИО" name="name").input.required.popup__input
              span
            .popup__item 
              input(type="text" required placeholder="+7 ___ ___-__-__" name="phone").input.required.popup__input
              span
            button(type="submit").btn-secondary.popup__btn Запросить КП
        .popup__img 
          img(src="@img/popup.png", alt="" draggable="false" loading="lazy")
    .popup.modal#thx  
      .popup-close
      .popup__body.modal__body 
        .modal__img.modal__img-1
          img(src="@img/modal-1.png", alt="" draggable="false" loading="lazy")
        .modal__img.modal__img-2
          img(src="@img/modal-2.png", alt="" draggable="false" loading="lazy")
        .modal__img.modal__img-3
          img(src="@img/modal-3.png", alt="" draggable="false" loading="lazy")
        button(type='button').modal__close.popup-close   
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2 2L22 22M22 2L2 22" stroke="black" stroke-width="5"/></svg>
        .popup__content.modal__content
          p.modal__title Спасибо за вашу заявку!
          p.modal__p В ближайшее время с вами свяжется наш специалист


mixin footer()
  +popups
  footer.footer
    .footer__offer
      img(src="@img/footer-1.png", alt="" draggable="false").footer__offer-img.first
      p.footer__offer-p <span>Вы продюсер?</span> Получите выгодное предложение с кэшбеком!
      button(type='button' data-target="#popup").open-popup.btn-secondary.footer__offer-btn Запросить КП 
      img(src="@img/footer-2.png", alt="" draggable="false").footer__offer-img.last
    nav.footer__nav.container 
      .intro__social.enable-lg.disable-md 
        a(href="#!" target="_blank").intro__social-item 
          img(src="@img/facebook.png", alt="" draggable="false")
        a(href="#!" target="_blank").intro__social-item 
          img(src="@img/wk.png", alt="" draggable="false")
        a(href="#!" target="_blank").intro__social-item 
          img(src="@img/instagram.png", alt="" draggable="false")
        a(href="#!" target="_blank").intro__social-item 
          img(src="@img/youtube.png", alt="" draggable="false")
      .footer__left 
        ul.footer__list 
          li.footer__li 
            a(href="studios.html").footer__link Наши студии
          li.footer__li 
            a(href="services.html").footer__link Услуги и цены
          li.footer__li 
            a(href="video.html").footer__link Наше оборудование 
          li.footer__li 
            a(href="clients.html").footer__link Наши клиенты
          li.footer__li 
            a(href="contacts.html").footer__link Контакты
          li.footer__li 
            a(href="questions.html").footer__link Ответы на вопросы
          li.footer__li 
            a(href="produccers.html").footer__link Продюсерам 
        p.footer__p © 2020-2021 Все права защищены. FACE2FACE
        a(href="#!").footer__privacy Политика конфиденциальности 
      .footer__right 
        a(href="tel:+74950212992").footer__tel.disable-md +7 (495) 021-29-92
        .intro__social.disable-lg 
          a(href="#!" target="_blank" title="facebook").intro__social-item 
            img(src="@img/facebook.png", alt="" draggable="false")
          a(href="#!" target="_blank" title="wk").intro__social-item 
            img(src="@img/wk.png", alt="" draggable="false")
          a(href="#!" target="_blank" title="instagram").intro__social-item 
            img(src="@img/instagram.png", alt="" draggable="false")
          a(href="#!" target="_blank" title="youtube").intro__social-item 
            img(src="@img/youtube.png", alt="" draggable="false")