mixin main()
  main.main 
    .intro 
      .intro__body.container 
        .intro__content 
          h1.intro__title Студии записи
            img(src="@img/next.png", alt="" draggable="false")
          ul.intro__list 
            li.intro__li Аудио-видео подкастов
            li.intro__li Youtube
            li.intro__li Вебинаров
            li.intro__li Online мероприятий
            li.intro__li Мастер классов
          a(href="#!").btn-secondary.intro__btn Выбрать зал 
        .intro__img 
          img(src="@img/intro-youtube.png", alt="" draggable="false").intro__youtube
          img(src="@img/intro-instagram.png", alt="" draggable="false").intro__instagram
          img(src="@img/intro-img.png", alt="" draggable="false")
      .intro__footer.container 
        .intro__social 
          a(href="#!" target="_blank" title="facebook").intro__social-item 
            img(src="@img/facebook.png", alt="" draggable="false")
          a(href="#!" target="_blank" title="wk").intro__social-item 
            img(src="@img/wk.png", alt="" draggable="false")
          a(href="#!" target="_blank" title="instagram").intro__social-item 
            img(src="@img/instagram.png", alt="" draggable="false")
          a(href="#!" target="_blank" title="youtube").intro__social-item 
            img(src="@img/youtube.png", alt="" draggable="false")
        p.intro__p Работаем ежедневно с 9:00 до 21:00 
        a(href="tel:+74950212992").intro__tel +7 (495) 021-29-92
    .studios 
      .studios__body.container
        h2.studios__title <span>Две комфортабельные</span> студии для записи в Москве
        .studios__slider.swiper 
          .studios__wrapper.swiper-wrapper
            .studios__slide.swiper-slide  
              .studios__img.swiper 
                .studios__img-wrapper.swiper-wrapper
                  .studios__img-item.swiper-slide 
                    img(src="@img/slide.png", alt="" draggable="false")
                  .studios__img-item.swiper-slide 
                    img(src="@img/slide.png", alt="" draggable="false")
                  .studios__img-item.swiper-slide 
                    img(src="@img/slide.png", alt="" draggable="false")
                .studios__img-prev.swiper-button-prev
                .studios__img-next.swiper-button-next
                .studios__img-pagination.swiper-pagination
              .studios__content 
                div
                  p.studios__slide-title Студия м. Тульское:
                  p.studios__slide-li Малая зона 18 м2
                  p.studios__slide-li Средняя зона 25 м2
                  p.studios__slide-li.last Большая зона 47 м2 
                div 
                  p.studios__slide-title от 2200 руб/час 
                  p.studios__slide-location 
                    img(src="@img/location.png", alt="" draggable="false")
                    | ул. Городская 8, Москва 
                  a(href="#!").btn-primary_nobg.studios__slide-btn Подробнее 
            
            
          .studios__prev.swiper-button-prev
          .studios__next.swiper-button-next






