mixin offer()
	.offer 
		.offer__body.container 
			.offer__content 
				h2.offer__title.disable-md2 <span class="color-secondary">Для Вашего удобства предлагаем</span> подобрать время и обсудить все интересующие вас вопросы:
				p.offer__title.enable-md2 <span class="color-secondary">Для Вашего удобства</span> предлагаем подобрать дату и время:
				//- a(href="bron.html").btn-primary.offer__btn Оставить заявку 
			.offer__img 
				img(src="@img/calendar.png", alt="" draggable="false").offer__img-calendar
				img(src="@img/check.png", alt="" draggable="false").offer__img-check
				img(src="@img/clock.png", alt="" draggable="false").offer__img-clock
				img(src="@img/people.png", alt="" draggable="false").offer__img-people
				.offer__img-platform 