mixin price()
    .price 
        .price__body.container 
            h2.price__title Из чего складывается стоимость?
            .price__content 
                .price__item 
                    .price__img 
                        img(src="@img/price-img-1.png", alt="").price-img
                    .price__info 
                        h3.price__info-title От количества часов 
                        p.price__info-p Минимальный срок аренды студии — 2 часа. При аренде на 1 час стоимость аренды студии — 2500 рублей. При покупке пакета на аренду 10 записей подкаста, первые 2 часа аренды — 1000 рублей.
                        p.price__info-price от 2500 руб.
                .price__item 
                    .price__img 
                        img(src="@img/price-img-2.png", alt="").price-img
                    .price__info 
                        h3.price__info-title Оператор
                        p.price__info-p При проведении видеозаписи с 2-х или 3-х камер целесообразно использовать оператора. Он будет следить за камерами, менять ракурсы и держать в кадре необходимую "картинку".
                        p.price__info-price + 1500 руб./час
                .price__item 
                    .price__img 
                        img(src="@img/price-img-3.png", alt="").price-img
                    .price__info 
                        h3.price__info-title Выставление композиции кадра и настройка освещения и камер
                        p.price__info-p Наш оператор и гафер выставят вам правильное освещение под ваш запрос. Настроят композицию кадра, настроят камеры для наилучшей "картинки". 
                        p.price__info-price от 2000 руб.
                .price__item 
                    .price__img 
                        img(src="@img/price-img-4.png", alt="").price-img
                    .price__info 
                        h3.price__info-title Количество видео камер
                        p.price__info-p Видеозапись вашего подкаста в формате FullHD или 4k. На выходе вы получите "красивый кадр" с хорошим освещением и в студийной обстановке. 1 камера + 2500 руб. 2 камеры + 4000 руб. 3 камеры + 6000 руб.
                        p.price__info-price от 2500 руб.