mixin questions()
    .questions 
        .questions__body.container 
            h2.questions__title Ответы на вопросы
            .questions__accordion 
                .questions__item.accordion
                    button(type='button').questions__item-btn.accordion__button.active Как проходит процесс записи аудио подкаста?
                        span.icon
                    .questions__item-content.accordion__content(style="display: block;")
                        p На записи присутствует звукорежиссёр который настроит оборудование и расскажет как работать с микрофонами и наушниками. Вам нужно будет просто говорить. После записи Вашего подкаста звукорежиссёр передаст ссылку на по которой будут находиться записанные Вами дорожки в формате .wav Каждый микрофон на отдельной дорожке. 
                .questions__item.accordion
                    button(type='button').questions__item-btn.accordion__button  Можно ли отменить запись?
                        span.icon
                    .questions__item-content.accordion__content
                        p На записи присутствует звукорежиссёр который настроит оборудование и расскажет как работать с микрофонами и наушниками. Вам нужно будет просто говорить. После записи Вашего подкаста звукорежиссёр передаст ссылку на по которой будут находиться записанные Вами дорожки в формате .wav Каждый микрофон на отдельной дорожке. 
                .questions__item.accordion
                    button(type='button').questions__item-btn.accordion__button Как оплатить?
                        span.icon
                    .questions__item-content.accordion__content
                        p На записи присутствует звукорежиссёр который настроит оборудование и расскажет как работать с микрофонами и наушниками. Вам нужно будет просто говорить. После записи Вашего подкаста звукорежиссёр передаст ссылку на по которой будут находиться записанные Вами дорожки в формате .wav Каждый микрофон на отдельной дорожке. 
                .questions__item.accordion
                    button(type='button').questions__item-btn.accordion__button Можно ли прийти со своим оборудованием и оператором чтобы снимать видео?
                        span.icon
                    .questions__item-content.accordion__content
                        p На записи присутствует звукорежиссёр который настроит оборудование и расскажет как работать с микрофонами и наушниками. Вам нужно будет просто говорить. После записи Вашего подкаста звукорежиссёр передаст ссылку на по которой будут находиться записанные Вами дорожки в формате .wav Каждый микрофон на отдельной дорожке. 
                .questions__item.accordion
                    button(type='button').questions__item-btn.accordion__button Где и как хранятся мои материалы? 
                        span.icon
                    .questions__item-content.accordion__content
                        p На записи присутствует звукорежиссёр который настроит оборудование и расскажет как работать с микрофонами и наушниками. Вам нужно будет просто говорить. После записи Вашего подкаста звукорежиссёр передаст ссылку на по которой будут находиться записанные Вами дорожки в формате .wav Каждый микрофон на отдельной дорожке. 
                .questions__item.accordion
                    button(type='button').questions__item-btn.accordion__button Можно ли прийти со своим декором?
                        span.icon
                    .questions__item-content.accordion__content
                        p На записи присутствует звукорежиссёр который настроит оборудование и расскажет как работать с микрофонами и наушниками. Вам нужно будет просто говорить. После записи Вашего подкаста звукорежиссёр передаст ссылку на по которой будут находиться записанные Вами дорожки в формате .wav Каждый микрофон на отдельной дорожке. 
                .questions__item.accordion
                    button(type='button').questions__item-btn.accordion__button Есть ли парковка? 
                        span.icon
                    .questions__item-content.accordion__content
                        p На записи присутствует звукорежиссёр который настроит оборудование и расскажет как работать с микрофонами и наушниками. Вам нужно будет просто говорить. После записи Вашего подкаста звукорежиссёр передаст ссылку на по которой будут находиться записанные Вами дорожки в формате .wav Каждый микрофон на отдельной дорожке. 
                .questions__item.accordion
                    button(type='button').questions__item-btn.accordion__button На сколько можно задержаться, если не успеваем записаться до конца?
                        span.icon
                    .questions__item-content.accordion__content
                        p На записи присутствует звукорежиссёр который настроит оборудование и расскажет как работать с микрофонами и наушниками. Вам нужно будет просто говорить. После записи Вашего подкаста звукорежиссёр передаст ссылку на по которой будут находиться записанные Вами дорожки в формате .wav Каждый микрофон на отдельной дорожке. 
