mixin questions()
    .questions 
        .questions__body.container 
            h2.questions__title Ответы на вопросы
            .questions__accordion 
                .questions__item.accordion
                    button(type='button').questions__item-btn.accordion__button.active Как проходит процесс записи аудио подкаста?
                        span.icon
                    .questions__item-content.accordion__content(style="display: block;")
                        p На записи присутствует звукорежиссёр который настроит оборудование и расскажет как работать с микрофонами и наушниками. Вам нужно будет просто говорить. После записи Вашего подкаста звукорежиссёр передаст ссылку на по которой будут находиться записанные Вами дорожки в формате .wav Каждый микрофон на отдельной дорожке. 
                .questions__item.accordion
                    button(type='button').questions__item-btn.accordion__button Как проходит процесс записи видео подкаста?
                        span.icon
                    .questions__item-content.accordion__content
                        p На записи присутствует звукорежиссёр и видеооператор которые установят и настроят оборудование и расскажут как работать с микрофонами и наушниками. После записи Вашего видео-подкаста мы передадим ссылку, на которой будут находиться записанные Вами дорожки в формате .wav а также все файлы с видео. Обратите внимание 20-30 минут в начале уходит на установку и настройку оборудования под вас.
                .questions__item.accordion
                    button(type='button').questions__item-btn.accordion__button Можно ли отменить бронь?
                        span.icon
                    .questions__item-content.accordion__content
                        p Отменить бронирование студии возможно. Минимальное время для отмены бронирования за 24 часа до начала записи. Для отмены достаточно сообщить нам по почте или телефону. При отмене записи менее чем за 24 часа предоплата не возвращается.
                .questions__item.accordion
                    button(type='button').questions__item-btn.accordion__button Как оплатить?
                        span.icon
                    .questions__item-content.accordion__content
                        p Для брони необходимо перевести предоплату кратно 1 часу аренды студии. Это будет учтено при окончальном расчете Предварительно надо согласовать дату и время. Остальную сумму можно оплатить после записи.
                .questions__item.accordion
                    button(type='button').questions__item-btn.accordion__button Можно ли прийти со своим оборудованием и оператором чтобы снимать видео?
                        span.icon
                    .questions__item-content.accordion__content
                        p  Вы можете прийти со своим оборудованием и оператором для съемки видео. Вы также можете арендовать часть нашего оборудования. Единственное, при бронировании нужно заложить дополнительный час на установку и разбор оборудования.
                .questions__item.accordion
                    button(type='button').questions__item-btn.accordion__button Где и как хранятся мои материалы? 
                        span.icon
                    .questions__item-content.accordion__content
                        p Мы заливаем и храним материалы на яндекс диске. В течение 7-ми дней. 
                .questions__item.accordion
                    button(type='button').questions__item-btn.accordion__button Можно ли прийти со своим декором?
                        span.icon
                    .questions__item-content.accordion__content
                        p Вы можете привозить и расставлять все, что не требует просверливания отверстий в стенах=)
                .questions__item.accordion
                    button(type='button').questions__item-btn.accordion__button Есть ли парковка? 
                        span.icon
                    .questions__item-content.accordion__content
                        p У студии м. Отрадное по адресу Алтуфьевском шоссе, 37 с1 есть большая бесплатная парковка. У студии м. Тульская по адресу ул. Городская, 8 есть небольшая бесплатная парковка и много свободных мест городской платной парковки.
                .questions__item.accordion
                    button(type='button').questions__item-btn.accordion__button На сколько можно задержаться, если не успеваем записаться до конца?
                        span.icon
                    .questions__item-content.accordion__content
                        p Задержка до 15 минут - бесплатна. Если вы задерживаетесь более, чем на 15 минут, нужно уточнить у администратора свободна ли зона и продлить запись на следующий час.
                .questions__item.accordion
                    button(type='button').questions__item-btn.accordion__button Находится ли видеооператор в течении всей записи за камерами?
                        span.icon
                    .questions__item-content.accordion__content
                        p При оплате услуги настройки оборудования и выставления кадра, видеооператор только первоначально выставляет кадр, настраивает камеры под ваш запрос и в течении записи 1 раз в 30-40 минут подходит к камерам для контроля записи. Если вам требуется создание "живой съемки"  тогда видеооператор присутствует в течении всей записи, но эта работа оплачивается отдельно согласно установленному прайсу.
