mixin studios()
  .studios 
    .studios__body.container
      h2.studios__title <span>Две комфортабельные</span> студии для записи в Москве
      .studios__slider.swiper 
        .studios__wrapper.swiper-wrapper
          .studios__slide.swiper-slide  
            .studios__img.swiper 
              .studios__img-wrapper.swiper-wrapper
                .studios__img-item.swiper-slide 
                  img(src="@img/slide.png" alt="" draggable="false")
                .studios__img-item.swiper-slide 
                  img(src="@img/slide.png" alt="" draggable="false")
                .studios__img-item.swiper-slide 
                  img(src="@img/slide.png" alt="" draggable="false")
              .studios__img-prev.swiper-button-prev
              .studios__img-next.swiper-button-next
              .studios__img-pagination.swiper-pagination
            .studios__content 
              div
                p.studios__slide-title Студия м. Тульская 90м<sup>2</sup> :
                p.studios__slide-li Малая зона 18 м<sup>2</sup>
                p.studios__slide-li Средняя зона 25 м<sup>2</sup>
                p.studios__slide-li.last Большая зона 47 м<sup>2</sup>
              div 
                p.studios__slide-title от 1900 руб/час 
                p.studios__slide-location 
                  img(src="@img/location.png" alt="" draggable="false")
                  | ул. Городская 8, Москва 
                a(href="#!").btn-primary_nobg.studios__slide-btn Подробнее 
          .studios__slide.swiper-slide  
            .studios__img.swiper 
              .studios__img-wrapper.swiper-wrapper
                .studios__img-item.swiper-slide 
                  img(src="@img/slide.png" alt="" draggable="false")
                .studios__img-item.swiper-slide 
                  img(src="@img/slide.png" alt="" draggable="false")
                .studios__img-item.swiper-slide 
                  img(src="@img/slide.png" alt="" draggable="false") 
              .studios__img-prev.swiper-button-prev
              .studios__img-next.swiper-button-next
              .studios__img-pagination.swiper-pagination
            .studios__content 
              div
                p.studios__slide-title Студия м. Отрадное 50м<sup>2</sup> :
                p.studios__slide-li Малая зона 15 м<sup>2</sup>  
                p.studios__slide-li.last Большая зона  28 м<sup>2</sup> 
              div 
                p.studios__slide-title от 1900 руб/час 
                p.studios__slide-location 
                  img(src="@img/location.png" alt="" draggable="false")
                  | Алтуфьевское ш., 37, стр. 1, Москва
                a(href="#!").btn-primary_nobg.studios__slide-btn Подробнее 
        .studios__prev.swiper-button-prev
        .studios__next.swiper-button-next


mixin studios2()
  .studios 
    .studios__body.container
      h2.studios__title.studios__title_2 Выберите студию
      .studios__items 
        .studios__item 
          img(src="@img/studio-1.png", alt="" draggable="false").studios__item-img 
          .studios__item-content 
            p.studios__item-title Студия м. Тульская:
            ul.studios__item-ul 
              li.studios__item-li Малая зона 18 м2
              li.studios__item-li Средняя зона 25 м2
              li.studios__item-li Большая зона 47 м2 
            .studios__item-row 
              .studios__item-location
                img(src="@img/location.png", alt="")
                a(href="#contacts") ул. Городская 8, Москва 
              p.studios__item-price от 2200 руб/час 
            a(href="tula.html").studios__item-btn Выбрать 
        .studios__item 
          img(src="@img/studio-2.png", alt="" draggable="false").studios__item-img 
          .studios__item-content 
            p.studios__item-title Студия м. Отрадное 50м2 :
            ul.studios__item-ul 
              li.studios__item-li Малая зона 15 м2 
              li.studios__item-li Большая зона  28 м2 
            .studios__item-row 
              .studios__item-location
                img(src="@img/location.png", alt="")
                a(href="#contacts") Алтуфьевское ш.37, стр.1, Москва
              p.studios__item-price от 1900 руб/час 
            a(href="otradnoe.html").studios__item-btn Выбрать 