mixin technicals()
    .technicals
        .technicals__body.container 
            h2.technicals__title Техническое оснащение наших студий 
            .technicals__content 
                .technicals__item 
                    img(src="@img/technicals-img-1.png", alt="").technicals__img
                    .technicals__info 
                        h3.technicals__item-title Камеры
                        ul.technicals__list 
                            li.technicals__list-li Sony a7c
                            li.technicals__list-li Sony a6400
                            li.technicals__list-li Blackmagic PCC 4K
                .technicals__item 
                    img(src="@img/technicals-img-2.png", alt="").technicals__img
                    .technicals__info 
                        h3.technicals__item-title Трансляции
                        ul.technicals__list 
                            li.technicals__list-li Видеомикшеры BlackMagic Atem mini pro iso на 4 камеры
                            li.technicals__list-li Режиссерские мониторы на 4 камеры 15" 4k
                            li.technicals__list-li Аудиомикшеры Beringer для 4 микрофонов
                            li.technicals__list-li Мониторы 28 дюймов 4k
                .technicals__item 
                    img(src="@img/technicals-img-3.png", alt="").technicals__img
                    .technicals__info 
                        h3.technicals__item-title Аудио
                        ul.technicals__list 
                            li.technicals__list-li Динамические Shure SM7B
                            li.technicals__list-li Микрофоны Rode Procaster
                            li.technicals__list-li Конденсаторные Audio-technica 2020 usb+
                            li.technicals__list-li Проводные петлички Rode
                            li.technicals__list-li Радиопетлички Saramonic и Sennheiser - РекордерЫ Zoom H8
                .technicals__item 
                    img(src="@img/technicals-img-4.png", alt="").technicals__img
                    .technicals__info 
                        h3.technicals__item-title Свет
                        ul.technicals__list 
                            li.technicals__list-li Софтбоксы
                            li.technicals__list-li  Журавли
                            li.technicals__list-li RGB Лампы
                            li.technicals__list-li Светодиодные лампы (Вариации светодиодов с различной цветовой температурой)
                .technicals__item 
                    img(src="@img/technicals-img-5.png", alt="").technicals__img
                    .technicals__info 
                        h3.technicals__item-title Фоны
                        ul.technicals__list 
                            li.technicals__list-li Хромакеи
                            li.technicals__list-li Цветные бумажные: бордовый, голубой, оранжевый, синий, серый
                            li.technicals__list-li Цветные тканевые: белый, черный
                .technicals__item 
                    img(src="@img/technicals-img-6.png", alt="").technicals__img
                    .technicals__info 
                        h3.technicals__item-title Разное
                        ul.technicals__list 
                            li.technicals__list-li Стедикам DJI Ronin SC2
                            li.technicals__list-li Стедикам DJI OM4
                            li.technicals__list-li Телесуфлеры
                            li.technicals__list-li Штативы