mixin technicals()
    .technicals
        .technicals__body.container 
            h2.technicals__title Техническое оснащение наших студий 
            .technicals__content 
                .technicals__item 
                    img(draggable="false" src="@img/technicals-img-1.png", alt="").technicals__img.disable-lg
                    img(draggable="false" src="@img/technicals-img-lg-1.png", alt="").technicals__img.enable-lg
                    img(draggable="false" src="@img/technicals-img-1_sm.png", alt="").technicals__img.sm
                    .technicals__info 
                        h3.technicals__info-title Камеры
                        ul.technicals__info-list 
                            li.technicals__info-li Sony a7c
                            li.technicals__info-li Sony a6400
                            li.technicals__info-li Blackmagic PCC 4K
                .technicals__item 
                    img.technicals__img.disable-lg(draggable="false" src="@img/technicals-img-2.png", alt="")
                    img.technicals__img.enable-lg(draggable="false" src="@img/technicals-img-lg-2.png", alt="")
                    img(draggable="false" src="@img/technicals-img-2_sm.png", alt="").technicals__img.sm
                    .technicals__info 
                        h3.technicals__info-title Трансляции
                        ul.technicals__info-list 
                            li.technicals__info-li Видеомикшеры BlackMagic Atem mini pro iso на 4 камеры
                            li.technicals__info-li Режиссерские мониторы на 4 камеры 15" 4k
                            li.technicals__info-li Аудиомикшеры Beringer для 4 микрофонов
                            li.technicals__info-li Мониторы 28 дюймов 4k
                .technicals__item 
                    img.technicals__img.disable-lg(draggable="false" src="@img/technicals-img-3.png", alt="")
                    img.technicals__img.enable-lg(draggable="false" src="@img/technicals-img-lg-3.png", alt="")
                    img(draggable="false" src="@img/technicals-img-3_sm.png", alt="").technicals__img.sm
                    .technicals__info 
                        h3.technicals__info-title Аудио
                        ul.technicals__info-list 
                            li.technicals__info-li Динамические Shure SM7B
                            li.technicals__info-li Микрофоны Rode Procaster
                            li.technicals__info-li Конденсаторные Audio-technica 2020 usb+
                            li.technicals__info-li Проводные петлички Rode
                            li.technicals__info-li Радиопетлички Saramonic и Sennheiser - РекордерЫ Zoom H8
                .technicals__item 
                    img.technicals__img.disable-lg(draggable="false" src="@img/technicals-img-4.png", alt="")
                    img.technicals__img.enable-lg(draggable="false" src="@img/technicals-img-lg-4.png", alt="")
                    img(draggable="false" src="@img/technicals-img-4_sm.png", alt="").technicals__img.sm
                    .technicals__info 
                        h3.technicals__info-title Свет
                        ul.technicals__info-list 
                            li.technicals__info-li Софтбоксы
                            li.technicals__info-li Журавли
                            li.technicals__info-li RGB Лампы
                            li.technicals__info-li Светодиодные лампы (Вариации светодиодов с различной цветовой температурой)
                .technicals__item 
                    img.technicals__img.disable-lg(draggable="false" src="@img/technicals-img-5.png", alt="")
                    img.technicals__img.enable-lg(draggable="false" src="@img/technicals-img-lg-5.png", alt="")
                    img(draggable="false" src="@img/technicals-img-5_sm.png", alt="").technicals__img.sm
                    .technicals__info 
                        h3.technicals__info-title Фоны
                        ul.technicals__info-list 
                            li.technicals__info-li Хромакеи
                            li.technicals__info-li Цветные бумажные: бордовый, голубой, оранжевый, синий, серый
                            li.technicals__info-li Цветные тканевые: белый, черный
                .technicals__item 
                    img.technicals__img.disable-lg(draggable="false" src="@img/technicals-img-6.png", alt="")
                    img.technicals__img.enable-lg(draggable="false" src="@img/technicals-img-lg-6.png", alt="")
                    img(draggable="false" src="@img/technicals-img-6_sm.png", alt="").technicals__img.sm
                    .technicals__info 
                        h3.technicals__info-title Разное
                        ul.technicals__info-list 
                            li.technicals__info-li Стедикам DJI Ronin SC2
                            li.technicals__info-li SСтедикам DJI OM4
                            li.technicals__info-li Телесуфлеры
                            li.technicals__info-li Штативы
            a(href="#!").technicals__btn.btn-primary_nobg Подробнее


