// Тема по умолчанию
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Montserrat', sans-serif;
    &:focus,
    &:active{
        outline: none;
    }
}
html,
body{
    height: 100%;
}
a{
    text-decoration: none;
}
.disable{
    &-lg{
        @include media(992){
            display: none;
        }
    }
    &-md{
        @include media(767){
            display: none;
        }
    }
    &-sm{
        @include media(586){
            display: none;
        }
    }
}
.enable{
    &-lg{
        display: none;
        @include media(992){
            display: flex;
        }
    }
    &-md{
        display: none;
        @include media(767){
            display: flex;
        }
    }
    &-sm{
        display: none;
        @include media(586){
            display: flex;
        }
    }
}
.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    .main{
        flex: 1 1 auto;
    }
}
button{
    background: none;
    border: none;
    cursor: pointer;
}
picture{
    line-height: 0 !important;
}