.use{
    &__title{
        font-weight: 800;
        font-size: 40px;
        line-height: 49px;
        text-align: center;
        color: #101010;
        margin-bottom: 50px;
        @include media(992){
            font-size: 25px;
            line-height: 30px;
            margin-bottom: 20px;
        }
    }
    &__content{
        display: flex;
        justify-content: center;
        gap: 20px;
        align-items: flex-start !important;
        @include media(1200){
            flex-wrap: wrap;
            margin: 0 auto;
        }
    }
    &__item{
        max-width: 200px;
        width: 100%;
        display: flex !important;
        flex-direction: column;
        align-items: center;
        @include media(1200){
            flex-direction: row;
            column-gap: 20px;
            max-width: calc(50% - 10px);
            width: 100%;
            margin: 0 auto;
            &.enable-xl{
                display: flex !important;
            }
        }  
        @include media(992){
            max-width: 70%;
            width: 100%;
        }
        @include media(576){
            column-gap: 10px;
        }
        @include media(470){
            max-width: 100%;
        }
        &-title{
            font-weight: 900;
            font-size: 18px;
            line-height: 22px;
            color: #101010;
            margin-bottom: 10px;
            @include media(767){
                font-size: 15px;
                line-height: 18px;
                max-width: 160px;
                width: 100%;
            }
        }
        &-p{
            font-weight: 300;
            font-size: 15px;
            line-height: 130%;
            margin-left: 12px;
            color: #101010;
            position: relative;
            @include media(767){
                font-size: 10px;
                line-height: 130%;
                max-width: 160px;
                width: 100%;
            }
            &:not(:last-child){
                margin-bottom: 10px;
                @include media(576){
                    margin-bottom: 5px;
                }
            }
            &::before{
                content: '';
                position: absolute;
                width: 7px;
                height: 7px;
                background: #8D1AEF;
                border-radius: 50%;
                top: 5px;
                left: -12px;
            }
        }
    }
    &__info{
        max-width: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    &__img{
        position: relative;
        margin-bottom: 10px;
        &::before{
            content: '';
            position: absolute;
            background: linear-gradient(110.34deg, rgba(255, 255, 255, 0.5) -1.55%, rgba(230, 237, 255, 0.6) 111.86%);
            box-shadow: 0px 10px 50px rgba(101, 126, 255, 0.1);
            backdrop-filter: blur(20px);
            border-radius: 15px;
            width: 200px;
            height: 120px;
            top: 20px;
            z-index: -1;
            @include media(576){
                width: 150px;
                height: 90px;
            }
        }
        img{
            @include media(576){
                width: 149px;
            }
        }
    }
    &__slider{
        &-container{
            position: relative;
            .swiper{
                &-button{
                    &-next,
                    &-prev{
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        top: 50%;
                        transform: translateY(-50%);
                        margin-top: 0;
                        @include media(576){
                            width: 30px;
                            height: 30px;
                        }
                        @include media(767){
                            top: 50%;
                            transform: translateY(-50%);
                        }
                        &:after{
                            content: '';
                            width: 50px;
                            height: 50px;
                            background-size: 100% 100% !important;
                            @include media(576){
                                width: 30px;
                                height: 30px;
                            }
                        }
                    }
                    &-next{
                        right: -75px;
                        @include media(1460){
                            right: -50px;
                        }
                        @include media(1390){
                            right: -75px;
                        }
                        @include media(1270){
                            right: -20px;
                        }
                        @include media(576){
                            right: -15px;
                        }
                        &::after{
                            background: url('../img/next-slide.png') 100% 100%;
                            @include media(576){
                                background: url('../img/next-slide-sm.png') 100% 100%;
                            }
                        }
                    }
                    &-prev{
                        left: -75px;
                        @include media(1460){
                            left: -50px;
                        }
                        @include media(1390){
                            left: -75px;
                        }
                        @include media(1270){
                            left: -20px;
                        }
                        @include media(576){
                            left: -15px;
                        }
                        &::after{
                            background: url('../img/prev-slide.png') 100% 100%;
                            @include media(576){
                                background: url('../img/prev-slide-sm.png') 100% 100%;
                            }
                        }
                    }
                }
            }
        }
        &-item{
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 10px;
            img{
                width: 100%;
            }
            p{
                font-weight: 900;
                font-size: 18px;
                line-height: 22px;
                text-align: center;
                color: #101010;
                @include media(576){
                    font-size: 16px;
                    line-height: 120%;
                }
            }
        }
    }
}